#wrapper {
  overflow-x: hidden;
}

#slide {
  display: flex;
}

#slide:hover {
  will-change: transform;
}

#slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin-inline: 20px;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

  opacity: 0.8;
  transform: scale(0.8);

  transition: transform 300ms;
}

#slide li.active {
  opacity: 1;
  transform: scale(1);
}
