.galeria {
  grid-column: 1 / -1;
}

#wrapper {
  overflow-x: hidden;
  grid-column: 1 / -1;
}

#slide {
  display: flex;
}

#slide:hover {
  will-change: transform;
}

#slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin-inline: 20px;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

  opacity: 0.8;
  transform: scale(0.8);

  transition: transform 300ms;
}

#slide li.active {
  opacity: 1;
  transform: scale(1);
}

.custom-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-column: 1 / -1;
}

.custom-controls li {
  opacity: 0.8;
  transform: scale(0.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  transition: 150ms ease-out;
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}
